@import "reset";
@import "fonts";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--main-color);
    min-height: 100vh;

}

.content {
    display: flex;
}

.page {
    padding: var(--size-space-s);
    flex-grow: 1;
}

svg {
    height: var(--size-svg-default);
    width: var(--size-svg-default);
}