.Loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    & > svg {
        color: var(--main-color);
        width: 100px ;
        height: 100px;
    }
}



