.Button {
    padding: var(--size-space-s);
    border-radius: var(--border-radius-m);
    cursor: pointer;
    color: var(--main-color);
    display: flex;
    align-items: center;
    gap: var(--size-space-s);

    &:hover {
        background-color: var(--hover-color);
    }
}


.invers {
    color: var(--main-color-invers);

    &:hover {
        background-color: var(--hover-color-invers);
    }
}

