.app.dark {
    --bg-color: #0d1117;
    --bg-color-invers: #ffff;
    --bg-secondary-color: #010409;
    --main-color: #e4ebf1;
    --main-color-invers: #1f2328;
    --additional-color: #21262d;
    --link-color: #296fd2;
    --hover-color: #2f2f2f;
    --hover-color-invers: #f7f9f9;
}