.ThemeSwitcher {
    & > svg {
        width: 30px;
        height: 30px;
    }
}


.dark {
    & > svg {
        fill: var(--bg-color)
    }
}

.light {
    & > svg {
        fill: var(--bg-color)
    }
}

